[submodule "adf/components/lws/libwebsockets"]
	path = components/lws/libwebsockets
	url = git@github.com:mitmh2025/libwebsockets
[submodule "adf/components/srtp/libsrtp"]
	path = components/srtp/libsrtp
	url = git@github.com:mitmh2025/libsrtp
[submodule "adf/components/kvspic/amazon-kinesis-video-streams-pic"]
	path = components/kvspic/amazon-kinesis-video-streams-pic
	url = git@github.com:mitmh2025/amazon-kinesis-video-streams-pic
[submodule "adf/components/kvswebrtcclient/amazon-kinesis-video-streams-webrtc-sdk-c"]
	path = components/kvswebrtcclient/amazon-kinesis-video-streams-webrtc-sdk-c
	url = git@github.com:mitmh2025/amazon-kinesis-video-streams-webrtc-sdk-c
[submodule "adf/components/kvscommonlws/amazon-kinesis-video-streams-producer-c"]
	path = components/kvscommonlws/amazon-kinesis-video-streams-producer-c
	url = git@github.com:mitmh2025/amazon-kinesis-video-streams-producer-c
